@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: Bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trade Gothic Bold Cond Twenty';
  src: url("../fonts/TradeGothicLT-BoldCondTwenty.woff") format("woff");
  font-style: normal;
  font-display: swap; }

.menu-btn {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.chrome {
  background-image: url(../img/sprite-024137747341122862.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px; }

.github-logo {
  background-image: url(../img/sprite-024137747341122862.png);
  background-position: -68px 0px;
  width: 64px;
  height: 64px; }

.placeholder {
  background-image: url(../img/sprite-024137747341122862.png);
  background-position: 0px -68px;
  width: 64px;
  height: 64px; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; }
  .page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh; }
    .page__wrapper main {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .page__wrapper footer {
      -ms-flex-negative: 0;
          flex-shrink: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 16px; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 62.1875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.main-nav {
  width: 100%; }
  .main-nav__content {
    width: 100%; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 0; }
  .main-nav__list-item {
    list-style: none; }
    .main-nav__list-item--button {
      display: none; }
  .main-nav__list-link {
    padding: 5px;
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: color, background-color, text-shadow, -webkit-text-decoration;
    transition-property: color, background-color, text-shadow, -webkit-text-decoration;
    transition-property: color, background-color, text-shadow, text-decoration;
    transition-property: color, background-color, text-shadow, text-decoration, -webkit-text-decoration;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    text-decoration: none;
    color: #fcfefd;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem; }
    .main-nav__list-link:hover {
      text-decoration: underline; }
    .main-nav__list-link:focus {
      text-decoration: none;
      text-shadow: 0 0 0.05px #fcfefd; }
    .main-nav__list-link:active {
      text-decoration: none;
      text-shadow: 0 5px 5px #000000; }
    .main-nav__list-link:disabled {
      opacity: 0.6; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  width: 100%;
  min-height: 4.375rem;
  background-color: #3f4049; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 170;
        -ms-flex: 170;
            flex: 170;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 415;
        -ms-flex: 415;
            flex: 415;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 25.9375rem; }
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 200;
        -ms-flex: 200;
            flex: 200;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.menu-btn--close {
  display: none; }

.button {
  border: none;
  border-radius: 20px;
  background-color: #64c800;
  padding: 0.5rem 3.3125rem 0.4375rem;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  line-height: 1.125rem;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 1.125rem;
  font-weight: 400; }
  .button:hover {
    background-color: #67ad21; }
  .button:focus {
    -webkit-box-shadow: 0 1px 7px 1px rgba(103, 173, 33, 0.5);
            box-shadow: 0 1px 7px 1px rgba(103, 173, 33, 0.5);
    background-color: #ffffff;
    color: #888888; }
  .button:active {
    background-color: #497f12;
    color: #ffffff; }
  .button:disabled {
    background-color: #f5f5f5;
    color: #c3c3c3; }

.logo {
  width: 100%;
  max-width: 11.25rem;
  text-decoration: none; }
  .logo__text {
    display: block;
    max-width: 9.375rem;
    border-top: 1px solid #939498;
    padding-top: 0.1875rem;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: #a8a8a8;
    font-family: "Proxima Nova";
    font-size: 0.625rem;
    font-weight: 400; }

.banner {
  position: relative;
  margin-top: 4.375rem; }
  .banner__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1; }
  .banner__list {
    position: relative;
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 536px;
    padding-left: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease; }
  .banner__list.slick-initialized {
    visibility: visible;
    opacity: 1;
    height: 100%; }
  .banner__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 545px;
    background-repeat: no-repeat;
    background-size: cover; }
  .banner__list-item--1 {
    background-image: url("../img/slide1.jpg"); }
  .banner__list-item--2 {
    background-image: url("../img/slide2.jpg"); }
  .banner__list-item--3 {
    background-image: url("../img/slide3.jpg"); }
  .banner__title {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 8.5625rem;
    margin-bottom: 1.5625rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 4.5rem;
    letter-spacing: -1.64px;
    color: #ffffff;
    font-family: "Trade Gothic Bold Cond Twenty", sans-serif;
    font-size: 5.125rem;
    font-weight: 700; }
  .banner__highlight {
    color: #64c800; }
  .banner__subtitle {
    margin-top: 0;
    margin-bottom: 3.9375rem;
    max-width: 28.9375rem;
    text-align: center;
    text-shadow: 0 2px 7px rgba(6, 80, 101, 0.35);
    line-height: 2.1875rem;
    letter-spacing: 0.75px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 1.5625rem;
    font-weight: 400; }
  .banner__text {
    margin-top: 0;
    margin-bottom: 4.9375rem;
    width: 32.3125rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    color: #ffffff;
    font-family: "Myriad Pro", sans-serif;
    font-size: 1.125rem;
    font-weight: 400; }

.slick-list,
.slick-track {
  height: 100%;
  padding: 0 !important; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 32px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0; }
  .slick-dots li {
    margin-right: 6px;
    margin-left: 6px;
    list-style: none; }
    .slick-dots li button {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border: none;
      border-radius: 100%;
      background-color: #fff;
      padding: 0;
      text-indent: -9999px; }
    .slick-dots li.slick-active button {
      border-radius: 50%;
      background-color: #64c800;
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }

.teachers {
  background-image: url("../img/spekles.png");
  background-position: center -3px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5.1875rem;
  padding-bottom: 4.0625rem; }
  .teachers__title {
    color: #3d3e46;
    margin-top: 0;
    margin-bottom: 4.75rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 49px;
    font-family: "Trade Gothic Bold Cond Twenty", sans-serif;
    font-size: 3.25rem;
    font-weight: 400; }
  .teachers__highlight {
    color: #1b8aaa; }
  .teachers__slider-wrapper {
    position: relative;
    margin-bottom: 3.5625rem; }
  .teachers__list {
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 400px;
    padding-left: 0; }
  .teachers__list.slick-initialized {
    visibility: visible;
    opacity: 1;
    height: 100%; }
  .teachers__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 25px; }
    .teachers__list-item--1 .teachers__photo-underlay {
      background-image: url("../img/spray.png"); }
    .teachers__list-item img {
      display: inline-block;
      position: relative;
      z-index: 100; }
  .teachers__link {
    text-decoration: none; }
    .teachers__link:hover .teachers__name,
    .teachers__link:hover .teachers__status {
      color: #596799; }
    .teachers__link:focus .teachers__name,
    .teachers__link:focus .teachers__status {
      color: #78c5db; }
    .teachers__link:active .teachers__name,
    .teachers__link:active .teachers__status {
      color: #687bc4; }
    .teachers__link:disabled .teachers__name,
    .teachers__link:disabled .teachers__status {
      color: #80c9de; }
  .teachers__photo-underlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    background-image: transparent;
    background-position: -49px -21px;
    background-repeat: no-repeat; }
    .teachers__photo-underlay:after {
      display: block;
      position: absolute;
      top: 4.0625rem;
      z-index: 1;
      width: 10.5625rem;
      height: 10.5rem;
      background-image: url("../img/shadow.png");
      background-repeat: no-repeat;
      background-size: cover;
      content: ''; }
  .teachers__corners-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .teachers__photo-wrapper {
    position: relative;
    z-index: 2;
    margin-bottom: 2.9375rem;
    width: 12.25rem;
    height: 13.75rem;
    -webkit-box-shadow: 0 0 30px rgba(0, 1, 1, 0.1);
            box-shadow: 0 0 30px rgba(0, 1, 1, 0.1);
    background-color: #fff;
    background-image: url("../img/polaroid.jpg");
    background-position: -20px -23px;
    padding-top: 0.625rem;
    text-align: center; }
    .teachers__photo-wrapper:before {
      display: block;
      position: absolute;
      top: -24px;
      left: calc(50% - 35px);
      z-index: 101;
      width: 70px;
      height: 36px;
      background-repeat: no-repeat;
      background-size: cover;
      content: ''; }
    .teachers__photo-wrapper--1:before {
      background-image: url("../img/tape1.png"); }
    .teachers__photo-wrapper--2:before {
      background-image: url("../img/tape2.png"); }
    .teachers__photo-wrapper--3:before {
      background-image: url("../img/tape3.png"); }
    .teachers__photo-wrapper--4:before {
      background-image: url("../img/tape2.png"); }
  .teachers__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 1.5625rem;
    max-width: 17rem;
    text-align: center;
    line-height: 1.625rem;
    color: #505a64;
    font-family: "Myriad Pro";
    font-size: 1.125rem;
    font-weight: 400; }
  .teachers__name, .teachers__status {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    line-height: 22px;
    letter-spacing: 0.23px;
    color: #1b8aaa;
    font-family: "Myriad Pro";
    font-size: 1rem;
    font-weight: 400; }
  .teachers__button {
    width: 100%;
    text-align: center; }
  .teachers .slick-arrow {
    position: absolute;
    top: 25%;
    z-index: 99;
    font-size: 0; }
  .teachers .arrow-left {
    top: 20%;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .teachers .arrow-left:active {
      -webkit-transform: rotate(180deg) translateX(0%) translateY(0%) scale(0.8);
              transform: rotate(180deg) translateX(0%) translateY(0%) scale(0.8); }
  .teachers .arrow-right {
    right: -20px; }

.arrow {
  position: absolute;
  top: 25%;
  z-index: 100;
  width: 1.5rem;
  height: 2.8125rem;
  cursor: pointer;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s; }
  .arrow-top, .arrow-bottom {
    position: absolute;
    top: 50%;
    left: -5px;
    width: 100%;
    height: 1px;
    background-color: #c8d2dc; }
    .arrow-top:after, .arrow-bottom:after {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #64c800;
      -webkit-transition: all 0.15s;
      transition: all 0.15s;
      content: ''; }
  .arrow-top {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right; }
    .arrow-top:after {
      right: 0;
      left: 100%;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
  .arrow-bottom {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: top right;
            transform-origin: top right; }
    .arrow-bottom:after {
      right: 100%;
      left: 0;
      -webkit-transition-delay: 0.15s;
              transition-delay: 0.15s; }
  .arrow:hover .arrow-top:after {
    left: 0;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s; }
  .arrow:hover .arrow-bottom:after {
    right: 0;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .arrow:active {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8); }

.about {
  background-image: url("../img/text-bg.jpg");
  background-size: cover;
  padding-top: 4.875rem;
  padding-bottom: 3.1875rem; }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .about__title {
    margin-bottom: 3.125rem;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 4.75rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 49px;
    font-family: "Trade Gothic Bold Cond Twenty", sans-serif;
    font-size: 3.25rem;
    font-weight: 400; }
    .about__title--highlight {
      color: #64c800; }
  .about__text-accent {
    margin-top: 0;
    margin-bottom: 1.25rem;
    text-align: center;
    line-height: 2.1875rem;
    letter-spacing: 0.25px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 1.5625rem;
    font-weight: 400; }
  .about__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 800px; }
  .about__text {
    margin-top: 0;
    text-align: center;
    line-height: 1.75rem;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 1.25rem;
    font-weight: 400; }
    .about__text--highlight {
      max-width: 37.5rem;
      color: #64c800; }

.form-section {
  background-image: url("../img/spekles.png");
  background-position: center -3px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5.1875rem;
  padding-bottom: 4.0625rem;
  position: relative;
  background-color: #f4f6f9;
  padding-bottom: 10.25rem; }
  .form-section:after {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 319px;
    background-image: url("../img/spray-2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    content: ''; }
  .form-section__title {
    color: #3d3e46;
    margin-top: 0;
    margin-bottom: 4.75rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 49px;
    font-family: "Trade Gothic Bold Cond Twenty", sans-serif;
    font-size: 3.25rem;
    font-weight: 400; }
  .form-section__highlight {
    color: #1b8aaa; }

.lorem-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 2;
  width: 100%;
  max-width: 58.75rem;
  background-color: #fff;
  padding: 3.0625rem 3.75rem; }
  .lorem-form__fieldset {
    margin: 0;
    width: 100%;
    border: none;
    padding: 0; }
  .lorem-form__legend {
    margin-bottom: 4.4375rem;
    width: 100%;
    max-width: 41rem;
    text-align: center;
    line-height: 2.125rem;
    letter-spacing: 0.24px;
    color: #46505a;
    font-family: "Myriad Pro";
    font-size: 1.5rem;
    font-weight: 400; }
  .lorem-form__image {
    position: absolute;
    bottom: -7.125rem;
    left: -2.75rem; }
  .lorem-form__fields-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.1875rem; }
  .lorem-form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.25rem;
    width: 72%;
    line-height: 1.125rem;
    color: #1b8aaa;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400; }
  .lorem-form__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 28.75rem;
    padding: 0.625rem 0.875rem 0.5625rem;
    -webkit-transition: color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, border-color 0.1s linear;
    line-height: 1.125rem;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400; }
    .lorem-form__input::-webkit-input-placeholder {
      color: #a8b6c7; }
    .lorem-form__input::-moz-placeholder {
      color: #a8b6c7; }
    .lorem-form__input:-ms-input-placeholder {
      color: #a8b6c7; }
    .lorem-form__input::-ms-input-placeholder {
      color: #a8b6c7; }
    .lorem-form__input::placeholder {
      color: #a8b6c7; }
    .lorem-form__input:invalid {
      border: 1px solid #c0ccda; }
    .lorem-form__input:valid {
      border: 1px solid lightgreen; }
    .lorem-form__input:hover {
      border: 1px solid #a8a9ab;
      background-color: #fff;
      color: #c3c3c3; }
    .lorem-form__input:focus {
      outline: none;
      border: 1px solid #e8e8e8;
      -webkit-box-shadow: 0 0 3px 2px rgba(232, 232, 232, 0.55);
              box-shadow: 0 0 3px 2px rgba(232, 232, 232, 0.55);
      color: #c3c3c3; }
    .lorem-form__input:active {
      border: 1px solid #e8e8e8;
      color: #6e6c6c; }
    .lorem-form__input:disabled {
      background-color: #f5f5f5;
      color: #c3c3c3; }
  .lorem-form__button {
    text-align: right; }

input[type=email]:disabled {
  color: #6e6c6c; }

@media screen and (max-width: 750px) {
  /*! Pushy - v1.3.0 - 2019-6-25
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
  /* Menu Appearance */
  .menu-btn {
    display: block; }
  .pushy {
    position: fixed;
    width: 21.875rem;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #191918;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */ }
    .pushy a {
      display: block;
      color: #b3b3b1;
      padding: 15px 30px;
      text-decoration: none; }
    .pushy a:hover {
      color: #FFF; }
    .pushy ul:first-child {
      margin-top: 10px; }
    .pushy.pushy-left {
      left: 0; }
    .pushy.pushy-right {
      right: 0; }
  .pushy-content {
    visibility: hidden; }
  /* Menu Movement */
  .pushy-left {
    -webkit-transform: translate3d(-21.875rem, 0, 0);
    transform: translate3d(-21.875rem, 0, 0); }
  .pushy-open-left #container,
  .pushy-open-left .push {
    -webkit-transform: translate3d(21.875rem, 0, 0);
    transform: translate3d(21.875rem, 0, 0); }
  .pushy-right {
    -webkit-transform: translate3d(21.875rem, 0, 0);
    transform: translate3d(21.875rem, 0, 0); }
  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-21.875rem, 0, 0);
    transform: translate3d(-21.875rem, 0, 0); }
  .pushy-open-left .pushy,
  .pushy-open-right .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .pushy-open-left .pushy-content,
  .pushy-open-right .pushy-content {
    visibility: visible; }
  /* Menu Transitions */
  #container,
  .pushy,
  .push {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }
  .pushy-content {
    -webkit-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }
  /* Site Overlay */
  .site-overlay {
    display: none; }
  .pushy-open-left .site-overlay,
  .pushy-open-right .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms; }
  @keyframes fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-webkit-keyframes fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  /* Submenu Appearance */
  .pushy-submenu {
    /* Submenu Buttons */
    /* Submenu Icon */ }
    .pushy-submenu > ul {
      padding-left: 15px;
      -webkit-transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out; }
      .pushy-submenu > ul .pushy-link {
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out; }
    .pushy-submenu button {
      width: 100%;
      color: #b3b3b1;
      padding: 15px 30px;
      text-align: left;
      background: transparent;
      border: 0; }
      .pushy-submenu button:hover {
        color: #FFF; }
    .pushy-submenu > a,
    .pushy-submenu > button {
      position: relative; }
    .pushy-submenu > a::after,
    .pushy-submenu > button::after {
      content: '';
      display: block;
      height: 11px;
      width: 8px;
      position: absolute;
      top: 50%;
      right: 15px;
      background: url("../img/arrow.svg") no-repeat;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s; }
  /* Submenu Movement */
  .pushy-submenu-closed > ul {
    max-height: 0;
    overflow: hidden;
    visibility: hidden; }
  .pushy-submenu-closed .pushy-link {
    opacity: 0; }
  .pushy-submenu-open {
    /* Submenu Icon */ }
    .pushy-submenu-open > ul {
      max-height: 1000px;
      visibility: visible; }
    .pushy-submenu-open .pushy-link {
      opacity: 1; }
    .pushy-submenu-open > a::after,
    .pushy-submenu-open > button::after {
      -webkit-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg); }
  .container {
    max-width: 41.875rem; }
  .main-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 11.25rem; }
  .main-nav__list-item--button {
    display: block;
    margin-top: 3.125rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    text-align: center; }
  .main-nav__list-link {
    text-transform: uppercase;
    font-size: 2rem; }
  .menu-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.125rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    background-image: url("../img/burger.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    color: #fff; }
    .menu-btn--close {
      display: block;
      position: absolute;
      top: 4.375rem;
      right: 2rem;
      width: 2.125rem;
      height: 2.125rem;
      background-image: url("../img/close.png"); }
  .header {
    min-width: 20rem;
    min-height: 160px;
    padding-top: 2.1875rem;
    padding-bottom: 2.375rem; }
    .header__button {
      display: none; }
    .header__logo {
      -webkit-box-flex: 356;
          -ms-flex: 356;
              flex: 356; }
    .header__nav {
      -webkit-box-flex: 50;
          -ms-flex: 50;
              flex: 50; }
  .button {
    width: 100%;
    height: 80px;
    border-radius: 6px;
    padding-top: 1.75rem;
    padding-right: 1rem;
    padding-bottom: 1.125rem;
    padding-left: 1rem;
    font-size: 2.375rem; }
  .logo {
    max-width: 22.25rem; }
    .logo__image {
      width: 100%; }
    .logo__text {
      margin-top: 0.5rem;
      width: 100%;
      max-width: 100%;
      padding-top: 10px;
      text-align: center;
      letter-spacing: 5.6px;
      font-size: 21px; }
  .banner {
    margin-top: 10rem; }
    .banner__list.slick-initialized {
      height: 71.25rem; }
    .banner__list-item--1 {
      background-image: url("../img/slide-1-sm.jpg"); }
    .banner__list-item--2 {
      background-image: url("../img/slide-1-sm.jpg"); }
    .banner__list-item--3 {
      background-image: url("../img/slide-1-sm.jpg"); }
    .banner__title {
      margin-top: 15.875rem;
      margin-bottom: 5rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      line-height: 6.25rem;
      font-size: 6.25rem; }
    .banner__subtitle {
      margin-bottom: 3.125rem;
      max-width: 38.125rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      line-height: 3.125rem;
      font-size: 2.5rem; }
    .banner__text {
      margin-bottom: 21.875rem;
      width: 100%;
      max-width: 27.5rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      font-size: 2.25rem; }
  .teachers {
    background-image: none;
    padding-top: 10.625rem;
    padding-bottom: 8.1875rem; }
    .teachers__title {
      line-height: 6.25rem;
      font-size: 6.25rem; }
    .teachers__highlight {
      display: block;
      width: 100%; }
    .teachers__text {
      width: 100%;
      max-width: 36.25rem;
      line-height: 3.4375rem;
      font-size: 2.375rem; }
    .teachers__list-item {
      position: relative; }
      .teachers__list-item--1 .teachers__photo-underlay {
        background-image: url("../img/spray-sm.png");
        background-position: center top;
        background-size: contain; }
      .teachers__list-item img {
        max-width: 100%;
        height: auto; }
    .teachers__photo-underlay:after {
      top: 10.0625rem;
      width: 10.5625rem;
      width: 21.875rem;
      height: 23rem; }
    .teachers__corners-wrapper {
      position: relative;
      margin-bottom: 9.25rem; }
      .teachers__corners-wrapper .corner {
        display: block;
        position: absolute;
        z-index: 3;
        width: 45px;
        height: 46px;
        background-image: url("../img/corner.png");
        background-repeat: no-repeat;
        background-size: cover; }
        .teachers__corners-wrapper .corner--top-left {
          top: -15px;
          left: -17px; }
        .teachers__corners-wrapper .corner--top-right {
          top: -15px;
          right: -17px;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
        .teachers__corners-wrapper .corner--bottom-left {
          bottom: -14px;
          left: -17px;
          -webkit-transform: rotate(270deg);
                  transform: rotate(270deg); }
        .teachers__corners-wrapper .corner--bottom-right {
          right: -17px;
          bottom: -14px;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
    .teachers__photo-wrapper {
      margin-bottom: 0;
      width: 25.0625rem;
      height: 29.9375rem;
      -webkit-box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.2);
              box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.2);
      background-image: url("../img/frame.jpg");
      background-position: -0.75rem -1.4375rem;
      padding-top: 1.0625rem; }
      .teachers__photo-wrapper:before {
        display: none; }
    .teachers__name, .teachers__status {
      line-height: 3rem;
      font-size: 3rem; }
    .teachers .arrow {
      width: 2.875rem;
      height: 5.5rem; }
    .teachers .arrow-top,
    .teachers .arrow-bottom {
      height: 4px; }
    .teachers .arrow-left {
      top: 13.125rem; }
    .teachers .arrow-right {
      top: 15.625rem; }
  .about {
    background-image: url("../img/about-sm.jpg");
    background-size: cover;
    padding-top: 8.125rem;
    padding-bottom: 8.125rem; }
    .about__title {
      margin-bottom: 4.75rem;
      line-height: 6.25rem;
      font-size: 6.25rem; }
    .about__title--highlight {
      display: block;
      margin-bottom: 0;
      width: 100%; }
    .about__text-accent {
      margin-bottom: 50px;
      max-width: 35.625rem;
      line-height: 2.1875rem;
      font-size: 2.0625rem; }
    .about__text {
      margin-bottom: 70px;
      max-width: 35.625rem;
      line-height: 2.1875rem;
      font-size: 2.0625rem; }
      .about__text--highlight {
        margin-bottom: 4.375rem; }
    .about__button {
      width: 100%; }
  .form-section {
    background-image: none; }
    .form-section:after {
      display: none; }
    .form-section__title {
      line-height: 6.25rem;
      font-size: 6.25rem; }
    .form-section__highlight {
      display: block;
      width: 100%; }
  .lorem-form {
    background-color: transparent;
    padding: 0; }
    .lorem-form__legend {
      margin-bottom: 0;
      max-width: 39.375rem; }
    .lorem-form__fields-wrapper {
      margin-bottom: 5rem; }
    .lorem-form__label {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 2.625rem;
      max-width: 100% !important;
      line-height: 1.875rem;
      font-size: 1.8125rem; }
    .lorem-form__input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-top: 2.1875rem;
      max-width: 100% !important;
      padding: 1.0625rem 1.625rem 1rem;
      font-size: 1.875rem; }
    .lorem-form__image {
      position: relative;
      bottom: unset;
      left: unset;
      margin-left: 2.8125rem;
      text-align: center; }
      .lorem-form__image img {
        max-width: 100%; } }

@media screen and (max-width: 480px) {
  .pushy {
    width: 100% !important; }
  .pushy.pushy-right {
    right: -100px; }
  .pushy-open-right .pushy.pushy-right {
    right: 0; }
  .header {
    min-height: 7.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.375rem; }
  .banner {
    margin-top: 7.875rem; }
    .banner__title {
      margin-top: 5rem; }
  .teachers__list-item {
    margin-right: 0.625rem !important;
    margin-left: 0.625rem !important; }
  .teachers__photo-underlay:after {
    display: none; }
  .teachers__corners-wrapper {
    margin-bottom: 2.5rem; }
  .teachers__photo-wrapper {
    width: 100%;
    height: auto;
    padding-right: 0.9375rem;
    padding-bottom: 5rem;
    padding-left: 0.9375rem; }
  .teachers__text {
    line-height: 2.5rem;
    font-size: 2rem; }
  .teachers__name, .teachers__status {
    line-height: 2.5rem;
    font-size: 2rem; }
  .teachers .arrow-left {
    top: 10.625rem; }
  .teachers .arrow-right {
    top: 13.125rem; } }

@media screen and (max-width: 940px) {
  .header__nav {
    max-width: 20rem; }
  .teachers__photo-underlay {
    background-position: -80px -21px; }
  .lorem-form__label {
    width: 100%;
    max-width: 63%; }
  .lorem-form__input {
    max-width: 17.75rem; } }

/*# sourceMappingURL=style.css.map */
