mixin main-nav(selected)

  -
    var menu = {
      'Lorem 1': '#lorem1',
      'Lorem 2': '#lorem2',
      'Lorem 3': '#lorem3',
      'Lorem 4': '#lorem4'
    };

  nav.main-nav.pushy.pushy-left
    .main-nav__content.pushy-content
      ul.main-nav__list
        each val, key in menu
          li.main-nav__list-item.pushy-link
            a(href=val, title=key class="main-nav__list-link")= key