mixin main-nav(selected)

  -
    var menu = {
      'Lorem 1': '#banner',
      'Lorem 2': '#teachers',
      'Lorem 3': '#about',
      'Lorem 4': '#form-section'
    };

  nav.main-nav.pushy.pushy-right
    button.menu-btn.menu-btn--close
    .main-nav__content.pushy-content
      ul.main-nav__list
        each val, key in menu
          li.main-nav__list-item.pushy-link
            a(href=val, title=key class="main-nav__list-link")= key
        li.main-nav__list-item.main-nav__list-item--button
            +button
  
  .site-overlay