mixin banner()

  section.banner#banner
    .banner__title-wrapper
      h1.banner__title Lorem
        br
        span.banner__highlight 1?
      p.banner__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      p.banner__text Lorem ipsum dolor sit amet,
        span.banner__highlight consectetur adipiscing elit
  
    ul.banner__list.slick-slider
      - for ( i=1; i <= 3 ; i++ )
        li(class="banner__list-item banner__list-item--"+i)
