.banner {
  position: relative;
  margin-top: 4.375rem;

  &__title-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  &__list {
    position: relative;
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 536px;
    padding-left: 0;
    transition: opacity 1s ease;
  }

  &__list.slick-initialized {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 545px;
    background-repeat: no-repeat;
    background-size: cover;

  }

  &__list-item--1 {
    background-image: url('../img/slide1.jpg');
  }

  &__list-item--2 {
    background-image: url('../img/slide2.jpg');
  }

  &__list-item--3 {
    background-image: url('../img/slide3.jpg');
  }

  &__title {
    display: inline-block;
    flex: 1;
    margin-top: 8.5625rem;
    margin-bottom: 1.5625rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 4.5rem;
    letter-spacing: -1.64px;
    color: #ffffff;
    font-family: $title-font-family;
    font-size: 5.125rem;
    font-weight: 700;
  }

  &__highlight {
    color: #64c800;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 3.9375rem;
    max-width: 28.9375rem;
    text-align: center;
    text-shadow: 0 2px 7px rgba(6, 80, 101, 0.35);
    line-height: 2.1875rem;
    letter-spacing: 0.75px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 1.5625rem;
    font-weight: 400;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 4.9375rem;
    width: 32.3125rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    color: #ffffff;
    font-family: $text-font-family;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.slick-list,
.slick-track {
  height: 100%;
  padding: 0 !important;
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 32px);
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;

  li {
    margin-right: 6px;
    margin-left: 6px;
    list-style: none;

    button {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border: none;
      border-radius: 100%;
      background-color: #fff;
      padding: 0;
      text-indent: -9999px;
    }

    &.slick-active {
      button {
        border-radius: 50%;
        background-color: #64c800;
        transform: scale(1.5);
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .banner {
    margin-top: 10rem;

    &__list.slick-initialized {
      height: 71.25rem;
    }

    &__list-item--1 {
      background-image: url('../img/slide-1-sm.jpg');
    }

    &__list-item--2 {
      background-image: url('../img/slide-1-sm.jpg');
    }

    &__list-item--3 {
      background-image: url('../img/slide-1-sm.jpg');
    }

    &__title {
      margin-top: 15.875rem;
      margin-bottom: 5rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      line-height: 6.25rem;
      font-size: 6.25rem;
    }

    &__subtitle {
      margin-bottom: 3.125rem;
      max-width: 38.125rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      line-height: 3.125rem;
      font-size: 2.5rem;
    }

    &__text {
      margin-bottom: 21.875rem;
      width: 100%;
      max-width: 27.5rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      font-size: 2.25rem;
    }
  }
}

@media screen and (max-width: $screen-xs) {
  .banner {
    margin-top: 7.875rem;

    &__title {
      margin-top: 5rem;
    }
  }
}