.button {
  border: none;
  border-radius: 20px;
  background-color: #64c800;
  padding: 0.5rem 3.3125rem 0.4375rem;
  transition-duration: 0.1s;
  transition-property: color, background-color;
  transition-timing-function: linear;
  line-height: 1.125rem;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 1.125rem;
  font-weight: 400;

  &:hover {
    background-color: #67ad21;
  }

  &:focus {
    box-shadow: 0 1px 7px 1px rgba(103, 173, 33, 0.5);
    background-color: #ffffff;
    color: #888888;
  }

  &:active {
    background-color: #497f12;
    color: #ffffff;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #c3c3c3;
  }
}

@media screen and (max-width: $screen-sm) {
  .button {
    width: 100%;
    height: 80px;
    border-radius: 6px;
    padding-top: 1.75rem;
    padding-right: 1rem;
    padding-bottom: 1.125rem;
    padding-left: 1rem;
    font-size: 2.375rem;

  }
}