// Глобальные стили (.page — на теге html)

// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

.page {
  // html

  box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      flex-grow: 1;
    }

    footer {
      flex-shrink: 0;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: $font-size;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 62.1875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media screen and (max-width: $screen-sm) {
  .container {
    max-width: 41.875rem;
  }
}