.about {
  background-image: url('../img/text-bg.jpg');
  background-size: cover;
  padding-top: 4.875rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 3.625rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 49px;
    letter-spacing: -1.04px;
    color: #ffffff;
    font-family: $title-font-family;
    font-size: 3.25rem;
    font-weight: 400;
    &--highlight {
      color: #64c800;
    }
  }

  &__text-accent {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 2.1875rem;
    letter-spacing: 0.25px;
    text-align: center;
  }

  &__text-wrapper {
    max-width: 800px;
  }

  &__text {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 28px;
    text-align: center;
    &--highlight {
      color: #64c800;
    }
  }
}