mixin form-section()
  section.form-section#form-section
    .form-section__wrapper.container
      h2.form-section__title Lorem 
        span.form-section__highlight 4 
      .form-section__form-wrapper
        +lorem-form
