mixin logo()
  a(href="/" class="logo")
    picture
      source(srcset='img/logo-sm.png', media='(max-width: 750px)')
      img(src="img/logo.png" class="logo__image" alt="Inside tracker logo image.")
    
    span.logo__text rule library
