extends templates/layout-home.pug

block meta
  title Lorem
  meta(name='description', content='Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vero exercitationem nobis voluptate assumenda sequi iusto veritatis pariatur porro, architecto nesciunt quaerat iste in dignissimos harum illum facilis esse! Aliquam!')

block header
  +header

block content
  +banner
  +teachers
  +about
  .site-overlay
  