//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/button/button.pug
include blocks/logo/logo.pug
include blocks/banner/banner.pug
include blocks/teachers/teachers.pug
include blocks/about/about.pug
include blocks/form-section/form-section.pug
include blocks/lorem-form/lorem-form.pug
