$font-size: 16px;

$header-color: #3f4049;

$nav-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Trade Gothic Bold Cond Twenty', sans-serif;
$text-font-family: 'Myriad Pro', sans-serif;
$logo-font-family: 'Proxima Nova', sans-serif;

$nav-font-size: 1rem;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
$screen-xl:           1920px;
