.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 1000000000000;
  width: 100%;
  min-height: 4.375rem;
  background-color: $header-color;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    flex: 170;
    flex-direction: column;
    justify-content: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 415;
    flex-direction: row;
    width: 100%;
    max-width: 25.9375rem;
  }

  &__button {
    display: flex;
    align-items: flex-end;
    flex: 200;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: $screen-md) {
  .header {
    &__nav {
      max-width: 20rem;
    }
    &__button {
      display: none;
    }

    .menu-btn {
      border: none;
      background-color: transparent;
      color: #fff;
      
    }
  }
}