.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 1000000000000;
  width: 100%;
  min-height: 4.375rem;
  background-color: $header-color;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    flex: 170;
    flex-direction: column;
    justify-content: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 415;
    flex-direction: row;
    max-width: 415px;
  }

  &__button {
    display: flex;
    align-items: flex-end;
    flex: 200;
    flex-direction: column;
    justify-content: center;
  }
}